# gpsd-to-gpslogger-endpoint.container

[Unit]
Description=gpsd to gpslogger endpoint gateway
After=gpsd.service
Requires=network-online.target

[Container]
ContainerName=gpsd-to-gpslogger-endpoint
Image=ghcr.io/stormwind99/gpsd-to-gpslogger-endpoint:latest
AutoUpdate=registry
# Replace REITTI_DEVICE_API_TOKEN
Exec=-s host.containers.internal -p 2947 -u http://host.containers.internal:8080/api/v1/ingest/gpslogger -t REITTI_DEVICE_API_TOKEN -i 15 -l INFO

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
